<!-- app/templates/admin/bill/bill.html -->

{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}
    {% if add_bill %}
        Add Bill
    {% else %}
        Edit Bill
    {% endif %}
{% endblock %}
{% block body %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
<script>
$(document).ready(function(){
    items = {}
    item_total_default = '0.00'
    item_quantity_input_html = "<input class='item-quantity' onkeypress='return event.charCode >= 48 && event.charCode <= 57'></input>"
    item_discount_input_html = "<input class='item-discount' onkeypress='return (event.charCode >= 48 && event.charCode <= 57) || (event.charCode==46)' value='0'></input>"
    {% for item in items %}
        var obj = {}
        obj["price"]='{{item.price}}'
        obj["id"]='{{item.id}}'
        if(!('{{item.name}}' in items))
            items['{{item.name}}'] = {}    
        items['{{item.name}}']['{{item.brand}}'] = obj
    {% endfor %}
    existing_items = []
    {% for bill_item in bill_items %}
        var obj = {}
        obj["name"] = '{{bill_item[1].name}}'
        obj["brand"]= '{{bill_item[1].brand}}'
        existing_items.push(obj)
    {% endfor %}
    $("#add-item").click(function(){

        str = "";
        str += "<tr class='item-row'>\
                    <td class='item-name-cell'>\
                        <select class='item-select'>"
        for (var item_name in items){
        str += ("<option>" + item_name+"</option>")
        }
        str += "</select> \
                </td> \
                <td class='item-brand-cell'> \
                </td> \
                <td class='text-center item-price'></td>\
                <td class='text-center item-quantity-cell'>" + item_quantity_input_html+ "</td>\
                <td class='text-center item-discount-cell'>" + item_discount_input_html+ "</td>\
                <td class='text-right item-total'>" +item_total_default + "</td>\
                <td><i class='fa fa-trash pull-right'></i> </td>\
                </tr>"
        $('#bill-rows > tr').eq($('#bill-rows > tr.item-row').length).before(str);
        element = $('#bill-rows > tr').eq($('#bill-rows > tr.item-row').length-1).find('.item-select')
        $(element).select2();
        $(element).val($(element).find('option').first().val()).trigger('change');

    });
    function resetCounter(row){
        $(row).find('.item-quantity').val('');
        $(row).find('.item-discount').val();
        $(row).find('.item-total').html(item_total_default);
        update_total() 
    }
    function update_total() {
        var total_price = 0;
        $('.item-total').each(function(argument) {
            total_price += parseFloat(parseFloat($(this).html()).toFixed(2))
        });
        $('.sub-total').html(parseFloat(total_price).toFixed(2))
    }
    function update_item_total(row){
        var price = $(row).find('.item-price').html();
        var quantity = $(row).find('.item-quantity').val();
        var discount = $(row).find('.item-discount').val();
        if(price == "")
            price = 0
        if(quantity == "")
            quantity = 0
        if(discount == "")
            discount = 0
        var init_price = price*quantity
        var item_total = init_price*(100 - discount)/100
        $(row).find('.item-total').html(parseFloat(item_total).toFixed(2))

    }
    $(document).on('change', '.item-price,.item-quantity,.item-discount', function(){
            update_item_total($(this).closest('tr'))
            update_total()
    });
    $(document).on('change', '.item-select', function(){
            element = $(this).closest('tr').find('.item-select');
            item_name = $(element).find('option:selected').text();
            
            str = "<select class='brand-select'>"
            for(var brand_name in items[item_name]){
                str += ("<option>" + brand_name+ "</option>")
            }
            str += "</select>"
            element = $(this).closest('tr').find(".item-brand-cell");
            $(element).html(str)
            element = $(element).find(".brand-select")
            $(element).select2();
            $(element).val($(element).find('option').first().val()).trigger('change');
            resetCounter($(this).closest('tr'))
    });
    $(document).on('change', '.brand-select', function(){
            element = $(this).closest('tr').find('.item-select');
            item_name = $(element).find('option:selected').text();
            element = $(this).closest('tr').find('.brand-select');
            brand = $(element).find('option:selected').text();
            str = items[item_name][brand]["price"]
            $(this).closest('tr').find('.item-price').html(str)
            resetCounter($(this).closest('tr'))
    });

    $(document).on('click', '.fa-trash', function(){
        $(this).closest('tr').remove();
        update_total()
    });
    $(document).on('click', '.bill-submit', function(){
        var obj = {}
        obj.customer_id = $('.customer-name').val();
        obj.customer_name = $('.customer-name option:selected').text();
        obj.total_bill = $('.sub-total').html();
        obj.bill_number = {{bill_number}}
        obj.payment_status = false;
        itemsList = []
        $('.item-row').each(function(argument) {
           var itemObj = {}
           item_name = $(this).find('.item-select option:selected').html();
           brand = $(this).find('.brand-select option:selected').html();
           itemObj.item_id = items[item_name][brand]["id"]
           itemObj.item_price = $(this).find('.item-price').html();
           itemObj.discount = $(this).find('.item-discount').val();
           itemObj.quantity = $(this).find('.item-quantity').val();
           itemObj.total_price = $(this).find('.item-total').html();
           itemsList.push(itemObj);
        });
        obj.items = itemsList
        console.log(obj);
        url = '/admin/bills/add'
        {% if edit_bill %}
        url = "{{ url_for('admin.edit_bill', id=bill.id) }}"
        {% endif %}
        $.ajax({
            url: url,
            type: 'POST',
            data: JSON.stringify(obj),
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            success: function(data) {
                console.log(data);
                window.location.href = data.redirect;
            }
        });
    });
    {% if edit_bill %}

        $(".customer-name option").filter(function() {
            return $(this).text() == '{{bill.customer_name}}'; 
        }).prop('selected', true);
        
        itemSelectHTML = "<select class='item-select'>"
        for (var item_name in items){
            itemSelectHTML += ("<option>" + item_name+"</option>")
        }
        itemSelectHTML += "</select>"
        var i = 0;
        $('tr.item-row').each(function(argument) {
            // $('.item-name-cell').each(function(argument) {
            element = $(this).find('.item-name-cell')
            $(element).html(itemSelectHTML);
            $(element).find("option").filter(function() {
                return $(this).text() == existing_items[i]["name"]; 
            }).prop('selected', true);
            
            brandSelectHTML = "<select class='brand-select'>"
            for(var brand_name in items[existing_items[i]["name"]]){
                brandSelectHTML += ("<option>" + brand_name+ "</option>")
            }
            brandSelectHTML += "</select>"
            element = $(this).find('.item-brand-cell')
            $(element).html(brandSelectHTML);
            $(element).find("option").filter(function() {
                return $(this).text() == existing_items[i]["brand"]; 
            }).prop('selected', true);

            element = $(this).find('.item-quantity-cell')
            str = $(element).html()
            $(element).html(item_quantity_input_html)
            $(element).find('.item-quantity').val(str)

            element = $(this).find('.item-discount-cell')
            str = $(element).html()
            $(element).html(item_discount_input_html)
            $(element).find('.item-discount').val(str)
            i+=1;
        });
    {% endif %}
});
</script>
<style type="text/css">
        .invoice-title h2, .invoice-title h3 {
        display: inline-block;
    }

    .table > tbody > tr > .no-line {
        border-top: none;
    }

    .table > thead > tr > .no-line {
        border-bottom: none;
    }

    .table > tbody > tr > .thick-line {
        border-top: 2px solid;
    }
</style>


<div class="container">
    <div class="row">
        <div class="col-xs-12">
    		<div class="invoice-title">
    			<h2>Invoice</h2><h3 class="pull-right">Bill Number {{bill_number}}</h3>
    		</div>
    		<hr>
    		<div class="row">
    			<div class="col-xs-6">
    				<address>
    				<strong>Billed To:</strong>
                        <select class='customer-name'>
                            {% for customer in customers %}
                            <option value='{{customer.id}}'>{{customer.name}}</option>
                            {% endfor %}
                        </select>
    				</address>
    			</div>
    			<div class="col-xs-6 text-right">
    				<address>
    					<strong>Order Date:</strong>
    					March 7, 2014<br><br>
    				</address>
    			</div>
    		</div>
            {% include "admin/bills/table.html" %}
    	</div>
    </div>
    
</div>
{% endblock %}
