<div class="row">
    	<div class="col-md-12">
    		<div class="panel panel-default">
    			<div class="panel-heading">
    				<h3 class="panel-title"><strong>Order summary</strong></h3>
    			</div>
    			<div class="panel-body">
    				<div class="table-responsive">
    					<table class="table table-condensed">
    						<thead>
                                <tr>
        							<td><strong>Item</strong></td>
                                    <td><strong>Brand</strong></td>
        							<td class="text-center"><strong>Price</strong></td>
        							<td class="text-center"><strong>Quantity</strong></td>
        							<td class="text-right"><strong>Totals</strong></td>
                                </tr>
    						</thead>
    						<tbody id="bill-rows">
    							<!-- foreach ($order->lineItems as $line) or some such thing here -->
                                {% for bill_item in bill_items %}
                                    <tr class='item-row'>
                                        <td>{{bill_item[1].name}}</td>
                                        <td> BRAND </td>
                                        <td class='text-center'>{{bill_item[0].item_price}}</td>
                                        <td class='text-center'>{{bill_item[0].quantity}}</td>
                                        <td class='text-right item-total'>{{bill_item[0].total_price}}</td>
                                        </tr>
                                {% endfor %}
    							<tr>
    								<td class="thick-line">{{bill_items}}</td>
    								<td class="thick-line"></td>
                                    <td class="thick-line"></td>
    								<td class="thick-line text-center"><strong>Subtotal</strong></td>
    								<td class="thick-line text-right"><strong class="sub-total">0</strong>&#8377; </td>
                                    <td class="thick-line"><i id="add-item" class="fa fa-plus pull-right"></i></td>
    							</tr>
    							<tr>
    								<td class="no-line"></td>
    								<td class="no-line"></td>
                                    <td class="no-line"></td>
    								<td class="no-line text-center"><strong>Shipping</strong></td>
    								<td class="no-line text-right">0&#8377; </td>
    							</tr>
    							<tr>
    								<td class="no-line"></td>
    								<td class="no-line"></td>
                                    <td class="no-line"></td>
    								<td class="no-line text-center"><strong>Total</strong></td>
    								<td class="no-line text-right">0&#8377; </td>
    							</tr>
    						</tbody>
    					</table>
                        <button class='bill-submit btn pull-right'>Submit Bill</button>
    				</div>
    			</div>
    		</div>
    	</div>
    </div>
